.active {
  color: red;
}
footer svg {
  color: red;
  font-size: 30px;
  background: transparent;
}
footer p {
  display: flex;
  gap: 5px;
}
.category .active {
  background: #991b1b;
  color: rgb(255, 255, 255);
}
.movie-data svg {
  color: yellow;
}
.search-form svg {
  color: #991b1b;
  background: transparent;
  font-size: 30px;
}
.cinema-vip svg {
  color: #991b1b;
  background: transparent;
  font-size: 20px;
}
.detailPAge svg {
  color: #991b1b;
  background: transparent;
  font-size: 30px;
}
/* modul oyna */
@keyframes zoom-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom-in {
  animation: zoom-in 0.3s ease-out;
}
